html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@font-face {
    font-family: "Bangers";
    src: url(./Bangers-Regular.woff2);
}

@font-face {
    font-family: "OpenSans";
    src: url(./OpenSans-VariableFont_wdth\,wght.woff2);
}

body {
    background-image: url(./640bg.jpg);
    background-repeat: repeat;
    background-size: 30%;
    display: grid;
    grid-template-rows: 64px 1fr;
    justify-items: center;
}

.section {
    width: min(1000px, calc(60% + 100px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    height: fit-content;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 88px;
    justify-content: flex-start;
    border-radius: 32px;
    background-color: rgba(123, 255, 189, 0.8);
}

button.active {
    background-color: rgb(245, 165, 179);
}
#header {
    display: flex;
    justify-content: center;
    gap: 10vw;
    flex-direction: row;
}


button {
    font-family: "Bangers";
    background-color:  rgba(123, 255, 189);
    width: clamp(70px, 25vw, 200px);
    height: clamp(32px, 4vh, 64px);
    border-width: 2px;
    border-style:none;
    border-color: rgb(245, 165, 179);
    border-image: initial;
    border-radius: 8px;
    font-size: clamp(1rem, 4vw, 2.5rem);
}
#imageHolder {
    background: url('./LionImage.jpg');
    width: clamp(250px, 75vw, 500px);
    height: clamp(250px, 75vw, 500px);
    margin-top: 5vw;
}

#bodyHolder {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 1; 
    background-color: rgb(18, 48, 20);
  }

#menuHolder {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.menuCard {
    border: 3px solid rgb(18, 48, 20);
    background-color: rgba(123, 255, 189);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

.lionHolder {
    width: clamp(250px, 75vw, 500px);
    height: clamp(250px, 75vw, 500px);
    margin-top: 5vw;
}

img {
    width: 100%;
    height: 100%;
}

#footer {
    padding: 5vw;
}

h1 {
    font-size: clamp(1.5rem, 7vw, 5rem);
    font-weight: 500;
    margin-top: 2vh;
    font-family: 'Bangers';
}

h2 {
    font-size: clamp(1rem, 4vw, 3rem);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Bangers";
}

h3 {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: flex;
    margin-top: 2vh;
    text-align: center;
    font-family: "OpenSans";
}

p {
    font-family: "OpenSans";
    font-size: clamp(1rem, 3vw, 1.7rem);
}

#map {
    width: clamp(250px, 75vw, 500px);
    height: clamp(250px, 75vw, 500px);
    padding-top: 5vw;
}

#contactBlurb {
    margin-bottom: 2vw;
}


@media only screen and (min-width: 1000px) {

    #menuHolder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vh;
    }
    .lionHolder {
    margin-top: 2vw;
    }
    #map {
        padding-top: 2vw;
    }
    p {
        width: 45vw;
        text-align: center;
    }
    
    #imageHolder {
        margin-top: 2vw;
    }
    #bodyHolder {
        padding-top: 2vw;;
    }
} 